
html {
    font-size:30px
}
body {
    background-color: rgb(236, 221, 12);
}
a {
    color: rgb(0, 255, 0);
}
a:visited {
    color: rgb(255, 0, 234);

}
a:hover, a:active{
    color: rgb(42, 165, 159);
}

table, tr, th,td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}